:root {
    --ele-denro: #98e628;
    --ele-geo: #e2b032;
    --ele-electro: #d296fc;
    --ele-hydro: #03ddfe;
    --ele-pyro: #fa5d3e;
    --ele-anemo: #57dcb0;
    --ele-cryo: #84c2e6;
    --ele-weapon: #ffb169;
    --event-height: 58px;
    --event-number: 5;
    --event-dur-day-width: 40px;
}

@mixin ele-text-shadow($color) {
    text-shadow: var($color) -1px -1px 4px, var($color) 1px -1px 4px, var($color) -1px 1px 4px, var($color) 1px 1px 4px, var($color) 0 0 10px;
}


.weapon {
    background-color: var(--ele-weapon)
}

/*元素背景色*/
.ele-dendro {
    background-color: var(--ele-denro)
}

.ele-geo {
    background-color: var(--ele-geo)
}

.ele-electro {
    background-color: var(--ele-electro)
}

.ele-hydro {
    background-color: var(--ele-hydro)
}

.ele-pyro {
    background-color: var(--ele-pyro)
}

.ele-anemo {
    background-color: var(--ele-anemo)
}

.ele-cryo {
    background-color: var(--ele-cryo)
}

.text-shadow-weapon {
    @include ele-text-shadow(var(--ele-weapon))
}

.ele-text-shadow-dendro {
    @include ele-text-shadow(var(--ele-denro))
}

.ele-text-shadow-geo {
    @include ele-text-shadow(var(--ele-geo))
}

.ele-text-shadow-electro {
    @include ele-text-shadow(var(--ele-electro))
}

.ele-text-shadow-hydro {
    @include ele-text-shadow(var(--ele-hydro))
}

.ele-text-shadow-pyro {
    @include ele-text-shadow(var(--ele-pyro))
}

.ele-text-shadow-anemo {
    @include ele-text-shadow(var(--ele-anemo))
}

.ele-text-shadow-cryo {
    @include ele-text-shadow(var(--ele-cryo))
}

/*元素文本色*/
.ele-text-dendro {
    color: var(--ele-denro);
}

.ele-text-geo {
    color: var(--ele-geo)
}

.ele-text-electro {
    color: var(--ele-electro)
}

.ele-text-hydro {
    color: var(--ele-hydro)
}

.ele-text-pyro {
    color: var(--ele-pyro)
}

.ele-text-anemo {
    color: var(--ele-anemo)
}

.ele-text-cryo {
    color: var(--ele-cryo)
}


.future-info {
    /*background-position: 125% 20%;*/
    border-radius: 10px;
    background-repeat: no-repeat;
}


.timeline-top-info {
    border-radius: 10px;
}

.timeline-top-cover {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
}


@media screen and (max-width: 610px) {
    .timeline-top-info {}
}

.timeline-area {
    display: flex;
    /*flex-wrap: nowrap;*/
    /*justify-content: center;*/
    width: 100%;
}

.timeline-wrapper {
    display: flex;
    /*background: url("../res/genshin-impact/timeline.svg");*/
    background-color: #99cc66;
    width: 1px;
    min-width: 1px;
    position: relative;
    margin-left: var(--event-dur-day-width);
    z-index: 1
}

.timeline-today-line-pos {
    position: relative;
    background-color: #cc668a;
    width: 2px;
    min-width: 2px;
    height: calc(100% - 10px);
    top: -25px;
    z-index: 5;
}

.timeline-today-line-pos-text {
    margin-top: -5px;
    font-style: italic;
    text-shadow: 2px 4px 6px black;
}

.timeline-index {
    margin-top: -60px;
    margin-left: -15px;
    text-align: center;
    width: var(--event-dur-day-width);
    height: 30px;
    border-radius: 50%;
    font-size: 18px;
    color: #4e4e4e;
}

.timeline-date {
    margin-top: 30px;
}

.timeline-text {
    text-align: left;
    padding: 20px;
    color: #FF6666;
    order: 3;
    width: 80%;
    margin: 0.5rem 0 0 0;
}

.timeline-text h2 h3 h4 {
    margin: 0 auto;
    text-transform: uppercase;
    /*background-color: #b151c7;*/
    padding: 10px;
    text-align: left;
}

.timeline-text p {
    margin: 0 auto;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
}

.timeline-info {
    border-radius: 25px;
    background: #fff;
}

@media (min-width: 640px) {
    .timeline-text {
        width: 100%;
    }

    .timeline-right .timeline-text {
        order: 1;
        padding-right: 10px;
        border-radius: 25px;
    }

    .timeline-right {
        order: 3;
    }
}

.timeline-trace {
    width: 100%;
    margin: 0 auto;
    font-size: 26px;
    background: no-repeat right #caf3d2;
    border-radius: 10px;
}

.timeline-trace span {
    color: #30a3c5;
    text-align: left;
}

.timeline-character-text {
    font-size: 20px;
    margin-left: 10px;
    line-height: var(--event-height);
    height: var(--event-height);
}

.event-item {
    position: absolute;
    /* border-radius: 20px; */
    opacity: 1;
    right: 0;
    height: var(--event-height);
}

.event-item-background-weapon {
    background: linear-gradient(to right, var(--ele-weapon), rgb(0 0 0 / 0%)) no-repeat;
}

.event-item-background-dendro {
    background: linear-gradient(to right, var(--ele-denro), rgb(0 0 0 / 0%)) no-repeat;
}

.event-item-background-geo {
    background: linear-gradient(to right, var(--ele-geo), rgb(0 0 0 / 0%)) no-repeat;
}

.event-item-background-electro {
    background: linear-gradient(to right, var(--ele-electro), rgb(0 0 0 / 0%)) no-repeat;
}

.event-item-background-hydro {
    background: linear-gradient(to right, var(--ele-hydro), rgb(0 0 0 / 0%)) no-repeat;
}

.event-item-background-pyro {
    background: linear-gradient(to right, var(--ele-pyro), rgb(0 0 0 / 0%)) no-repeat;
}

.event-item-background-anemo {
    background: linear-gradient(to right, var(--ele-anemo), rgb(0 0 0 / 0%)) no-repeat;
}

.event-item-background-cryo {
    background: linear-gradient(to right, var(--ele-cryo), rgb(0 0 0 / 0%)) no-repeat;
}

.event-img {
    position: absolute;
    margin-left: 165px;
    /* border-radius: 10px; */
    opacity: 1;
    right: 0;
    width: 100%;
    height: 100%;
    max-width: 200px;
    /*background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)) no-repeat 0 25%;*/
    background-size: 100%;
    -webkit-mask-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    mask-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.event-wish-color {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to left, rgb(255 255 255 / 80%), rgba(0, 0, 0, 0)) no-repeat;
}

.timeline-scroll-x {
    width: auto;
    justify-content: space-between;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    height: calc(var(--event-height) * var(--event-number));
}

.timeline-scroll-x::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 4px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 25px;
}

.timeline-scroll-x::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 5px;
    /*-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);*/
    background-size: 25px;
    background-repeat: no-repeat;
    /*background-image: url("/assets/res/genshin-impact/intertwined_fate.png");*/
}

.timeline-scroll-x::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    /*-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);*/
    /*border-radius: 0;*/
    /*background: rgba(0, 0, 0, 0.1);*/
}

.timeline-month {
    display: flex;
}

.timeline-month-text {
    font-family: 'Lora', 'Times New Roman', serif;
    font-style: italic;
    font-size: 20px;
}

.timeline-day {
    display: flex;
    margin-top: 20px;
    height: calc(var(--event-height) * var(--event-number));
    position: relative;
}

.timeline-wish-event-weapon {
    display: flex;
    position: absolute;
    z-index: 3;
}

.timeline-wish-event-character {
    top: calc(var(--event-height) + 10px);
    display: flex;
    position: absolute;
    z-index: 3;
}

-webkit-scrollbar {
    display: none;
}

/*覆盖完整显示*/
.truncate:hover {
    word-break: normal;
    display: block;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: hidden;
}

.character-avatar {
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}

.monster-avatar {
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}

.slider .slides {
    background-color: unset;
}

.slider .slides li img {
    height: 100%;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.slider .indicators .indicator-item {
    /*background: #fff url("/assets/res/genshin-impact/primogem.png") no-repeat;*/
    background-size: cover;
}

/*修改slider按钮颜色*/
.slider .indicators .indicator-item.active {
    /*background: #fff url("/assets/res/genshin-impact/intertwined_fate.png") no-repeat;*/
    background-size: cover;
}

button:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0);
}

a:focus,
a:hover {
    text-decoration: none
}

.title-intro {
    font-style: italic;
    font-weight: 300;
    font-size: 15px;
    margin: 1rem 0 1rem 0;
}

.event-date {
    font-family: 'Lora', 'Times New Roman', serif;
    font-style: italic;
    font-weight: 300;
    font-size: 2rem
}

.event-name {
    font-family: 'Lora', 'Times New Roman', serif;
    font-weight: 600;
    font-size: 2rem
}