:root {
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #f97a7a 30%, #41d1ff);
    --vp-home-hero-image-background-image: linear-gradient(-45deg, #f97a7ab1 50%, #47eaffb1 50%);
    --vp-home-hero-image-filter: blur(40px);
    --vp-c-brand: #ff64b9;
    --vp-c-brand-light: #ff74d5;
    --vp-c-brand-lighter: #ff94dd;
    --vp-c-brand-lightest: #ffbce4;
    --vp-c-brand-dark: #f253c2;
    --vp-c-brand-darker: #e1458b;
    --vp-c-brand-dimm: rgba(100, 108, 255, .08);
}