name: Borrow server to test
on:
  push:
    branches:
      - master
    paths:
      - ".github/workflows/borrow-server.yml"

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./script
    steps:
      - name: Checkout repository content
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
      - name: Execute cmd
        run: |
          pip install pipreqs
          pipreqs . --encoding=utf8 --force
          cat requirements.txt
