name: ci-deploy-notes

# 暂时不启用
on:
  push:
    branches:
      - draft
    paths:
      - "notes/**"
      - ".github/workflows/deploy-notes.yml"
  pull_request:
    types: [opened, synchronize]
    branches:
      - draft
    paths:
      - "notes/**"

jobs:
  deploy-notes:
    strategy:
      matrix:
        os: [ubuntu-latest] # macos-latest, windows-latest
        node: [16]
        deploy-dir: [notes/.output/public]
        deploy-user: [augusmeow]
        deploy-repo: [notes]

    runs-on: ${{ matrix.os }}

    defaults:
      run:
        working-directory: ./notes

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}

      - name: Change nuxt.config.ts
        run: mv nuxt.config.ts.example nuxt.config.ts

      - uses: pnpm/action-setup@v2.4.0
        name: Install pnpm
        id: pnpm-install
        with:
          version: 7

      - name: Install dependencies
        run: pnpm install

      - name: Generate
        env:
          BASE: /${{ matrix.deploy-repo }}/
          NUXT_APP_BASE_URL: /${{ matrix.deploy-repo }}/
          HOSTNAME: https://augusmeow.github.io/
          NODE_OPTIONS: --max_old_space_size=4096
        run: pnpm generate

      - name: Deploy to GitHub Pages
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          repo: ${{ matrix.deploy-user }}/${{ matrix.deploy-repo }}
          target_branch: gh-pages
          build_dir: ${{ matrix.deploy-dir }}
          jekyll: false
        env:
          GH_PAT: ${{ secrets.DEPLOY_GH }}
